<% layout('layout/page.ejs') %>
<style>
    p{
        margin: 0px;
        font-style: oblique;
        background: #333;
    }
    h1{
        margin: 0px 0px 0px 500px;
    }
    teg{
        background: #00d82c;
    }
</style>

<p><font color="white"> Счетчик: </font>> <teg><%= counter %></teg></p>

<h1 align="center"><h1><%= title %></h1></h1>
<img src="<%= picture %>" alt=""/>